<app-header></app-header>
<div class="m-5">
  <div class="row p-5 d-flex align-self-center">
    <div class="col-md-6">
      <input class="form-control" type="file" (change)="onSelectFile($event)" />
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-block btn-secondary text-uppercase"
        (click)="bwImage()"
      >
        b & w
      </button>
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-block btn-primary text-uppercase"
        (click)="blurImage()"
      >
        blur
      </button>
    </div>
    <div class="col-md-2">
      <button
        class="btn btn-block btn-danger text-uppercase"
        (click)="invertImage()"
      >
        invert
      </button>
    </div>
  </div>
  <div class="row p-5 text-uppercase text-center">
    <div class="col-md border p-5 bg-light" *ngIf="showOG">
      <img class="img-fluid" [src]="image1" />
      <h2 class="h2 mt-5">Original Image</h2>
    </div>
    <div class="col-md border p-5 m-2 bg-light" *ngIf="showBW">
      <img class="img-fluid bw" [src]="image1" />
      <h2 class="h2 mt-5 text-secondary">Black & White Image</h2>
    </div>
    <div class="col-md border p-5 m-2 bg-light" *ngIf="showBlur">
      <img class="img-fluid blur" [src]="image1" />
      <h2 class="h2 mt-5 text-primary">Blurred Image</h2>
    </div>
    <div class="col-md border p-5 m-2 bg-light" *ngIf="showInvert">
      <img class="img-fluid invert" [src]="image1" />
      <h2 class="h2 mt-5 text-danger">Inverted Image</h2>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
